<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>EPG</title>
<link rel="stylesheet" href="/layui/css/layui.css">
<link rel="stylesheet" href="/swiper/css/swiper.min.css">
<style type="text/css">
.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#matchsday li {
	color: white;
	font-size: 10px;
}

#tvguidenav li {
	width: 71px;
	padding: 0px 0px;
}

#tvguidenav li a {
	padding: 5px;
}
</style>
</head>
<body>
	<div style="color: black; background: black;">
		<div>
			<ul class="layui-nav">
				<div style="padding-left: 10%; padding-right: 10%;">
					<li class="layui-nav-item"><a href=""><i
							class="layui-icon layui-icon-video"
							style="font-size: 30px; color: #8f8f1b">EPG</i></a></li>
					<li class="layui-nav-item"><a href="javascript:;">ALL</a></li>
					<li class="layui-nav-item"><a href="">TV</a></li>
					<li class="layui-nav-item"><a href="">MOVIES</a></li>
					<li class="layui-nav-item"><a href="">SPORTS</a></li>
					<li class="layui-nav-item"><a href="">KIDS</a></li>
					<li class="layui-nav-item"><a href="">ADULT</a></li>
					<li class="layui-nav-item" style="float: right"><select
						name="Language" lay-verify="">
							<option value="1" selected="">English</option>
							<option value="2">Chinese中文</option>
							<option value="3">Japanese</option>
					</select></li>
				</div>
			</ul>
		</div>
		<!-- AD -->
		<div id="ad" style="padding-left: 10%; padding-right: 10%;"></div>
		<!--今日赛事-->
		<div class="layui-row"
			style="padding-left: 10%; padding-right: 10%; margin-top: 30px">
			<div class="layui-col-lg8">
				<div>
					<h1 style="color: white">Wonderful Matchs</h1>
				</div>
				<div class="layui-tab">
					<ul class="layui-tab-title" id="matchsday">
						<li class="layui-this">Today</li>
						<li><p>1Mon</p></li>
						<li><p>2Tue</p></li>
						<li><p>3Wed</p></li>
						<li><p>4Thu</p></li>
						<li><p>5Fri</p></li>
						<li><p>6Sat</p></li>
						<li><p>7Sun</p></li>
					</ul>
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img alt="" src="\images\1.jpg">
							</div>
							<div class="swiper-slide">
								<img alt="" src="\images\2.jpg">
							</div>
							<div class="swiper-slide">
								<img alt="" src="\images\3.jpg">
							</div>
							<div class="swiper-slide">
								<img alt="" src="\images\1.jpg">
							</div>
							<div class="swiper-slide">
								<img alt="" src="\images\2.jpg">
							</div>
							<div class="swiper-slide">
								<img alt="" src="\images\3.jpg">
							</div>
							<div class="swiper-slide">Slide 7</div>
							<div class="swiper-slide">Slide 8</div>
							<div class="swiper-slide">Slide 9</div>
							<div class="swiper-slide">Slide 10</div>
						</div>
						<!-- Add Arrows -->
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>

				</div>
			</div>
			<!--搜索-->
			<div class="layui-col-lg4">
				<div style="width: 100%; height: 20%; margin-left: 15%">
					<form class="layui-form" action="">
						<input style="float: left; width: 70%;" type="text"
							id="searchtext" name="searchtext" placeholder="input here"
							class="layui-input">
						<button class="layui-btn lay-submit layui-icon layui-icon-search"
							id="searchBtn" style="width: 30%">Search</button>
					</form>
				</div>
				<!-- hot search -->
				<div
					style="background-color: rgb(42, 38, 38); width: 100%; margin-left: 15%; margin-top: 20px">
					<div class="layui-card-header"
						style="width: auto; height: aut; background-color: rgb(42, 38, 38)">
						<i class="layui-icon layui-icon-fire" style="color: #eae20d;">Hot
							Search</i>
					</div>
					<div class="layui-card-body"
						style="width: auto; height: auto; background-color: rgb(42, 38, 38)">
						one<br>two<br>there<br>four<br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- TV Guide -->
	<div style="margin-left: 10%; margin-right: 10%;">
		<div style="float: left; width: 100%">
			<h1>TV Guide</h1>
		</div>
		<div class="layui-form" action="">
			<div class="layui-row layui-col-space15">
				<div class="layui-inline layui-col-lg4">
					<select name="Satellite" lay-filter="Satellite"
						style="width: 100%; height: 30px">
						<option value="1" selected="">All Satellite</option>
						<option value="2">游戏</option>
						<option value="3">音乐</option>
						<option value="4">旅行</option>
					</select>
				</div>
				<div class="layui-inline layui-col-lg4">
					<select name="Transponder" lay-filter="Transponder"
						style="width: 100%; height: 30px">
						<option value="1" selected="">All Transponder</option>
						<option value="2">游戏</option>
						<option value="3">音乐</option>
						<option value="4">旅行</option>
					</select>
				</div>
				<div class="layui-input-block" style="float: right">
					<input type="radio" name="display" title="Grid" value="Grid">
					<input type="radio" name="display" title="List" value="List"
						checked="">
				</div>
			</div>
		</div>
	</div>
	<ul class="layui-nav" id="tvguidenav"
		style="margin-left: 10%; margin-right: 10%;">
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.leftdate7}"></span></a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.leftdate6}"></span></a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.leftdate5}"></span></a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.leftdate4}"></span></a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.leftdate3}"></span></a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.leftdate2}"></span></a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.leftdate1}"></span></a></li>
		<li class="layui-nav-item layui-this"><a href="">Today</a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.rightdate8}"></span></a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.rightdate9}"></span></a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.rightdate10}"></span></a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.rightdate11}"></span></a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.rightdate12}"></span></a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.rightdate13}"></span></a></li>
		<li class="layui-nav-item"><a href=""><span
				th:text="${dates.rightdate14}"></span></a></li>
	</ul>
	<div class="layui-row" style="margin-left: 10%; margin-right: 10%;">
		<div class="layui-col-xs8">
			<ul id="list1">
			
			</ul>
		</div>
		<div class="layui-col-xs2">
			<ul id="list2">
            </ul>
		</div>
		<div class="layui-col-xs2">
			<ul id="lsit3">
            </ul>
		</div>
<!-- 		<div class="layui-col-xs2">
			<ul id="list4">
            </ul>
		</div>
		<div class="layui-col-xs2">
           <ul id="list5">
            </ul>
        </div>
        <div class="layui-col-xs2">
            <ul id="list6">
            </ul>
        </div> -->
	</div>

	<script src="/layui/layui.js" charset="utf-8"></script>
	<script src="/swiper/js/swiper.min.js" charset="utf-8"></script>
	<script>
		layui.use([ 'element', 'layer', 'form', 'table' ], function() {
			var element = layui.element;
			var layer = layui.layer;
			var form = layui.form;
			var table = layui.table;
		    
		});
	</script>
	<script>
		var swiper = new Swiper('.swiper-container', {
			slidesPerView : 4,
			spaceBetween : 25,
			slidesPerGroup : 1,
			loop : true,
			loopFillGroupWithBlank : true,
			navigation : {
				nextEl : '.swiper-button-next',
				prevEl : '.swiper-button-prev',
			},
		});
	</script>
</body>
</html>